html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; /* Default body font */
  height: 100%;
  width: 100%;
  /* background-color: #192751; */
  background: linear-gradient(135deg, #192751, #1f44b5);
  color: #010101;
  overflow: hidden;
}

img {
  /* height: 75px; */
  width: 100%;
  max-width: 150px;
  object-fit: contain;
  max-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  height: 100vh;
}

.content {
  text-align: center;
  background-color: #f5f5f5;
  padding: 2rem;
  /* margin: 0 1rem 0 1rem; */
  max-width: 350px;
  border-radius: 10px;
  width: 90%;
}

h1{
    color: #333;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif; /* Elegant font for headings */
}

p{
    color: #666;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

input[type="email"]{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

button{
    padding: 0.5rem;
    background-color:#192751;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 6px 6px rgba(0,0,0,0.5);
}

button:hover{
    background-color: #1f44b5;
    transform: scale(1.05);
}

/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
  .content {
    padding: 1rem; /* Reduce padding on smaller screens */
    max-width: 90vw; /* Allow more space on smaller screens */
  }

  h1 {
    font-size: 2rem; /* Adjust heading size */
  }

  p {
    font-size: 1rem; /* Adjust paragraph size */
  }

  img {
    max-width: 120px; /* Make the logo smaller on mobile */
  }
}

/* Additional adjustments for very small screens (mobile phones) */
@media (max-width: 480px) {
  .content {
    padding: 0.5rem; /* Reduce padding even further */
    max-width: 95vw; /* Max width for small screens */
  }

  h1 {
    font-size: 1.5rem; /* Even smaller font size for heading */
  }

  p {
    font-size: 0.9rem; /* Smaller font for paragraph */
  }

  img {
    max-width: 100px; /* Logo even smaller */
  }
}
